:root {
    --primary-color: #2827CC;
    --primary-dark: #120E43;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #2827CC 0%, #2827CC 56.49%, #120E43 56.49%, #120E43 100%);
}

.container {
    width: 900px;
    height: 550px;
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 15px var(--primary-color),2px 2px 25px var(--primary-dark);
}

.container .formImg {
    height: 100%;
    /* border: 1px solid green; */
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .7s;
}

.container .formImg.signin {
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    transition-delay: .7s;
}

.formImg h2, h3 {
    color: #fff;
    text-align: center;
}

.formImg img {
    width: 50%;
}

.container .form {
    height: 100%;
    background: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    color: #fff;
    transition: .7s;
}

.container .form.signin {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    transition-delay: .7s;
}

.form.signin .forgot:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #fff;
}

.form p span {
    border: 1px solid #fff;
    background: #fff;
    color: var(--primary-dark);
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 15px;
    cursor: pointer;
}

.form p span:hover {
    box-shadow: 0 0 5px #fff;
}



/* SignUp Container */

.container .form.signup {
    position: absolute;
    top: 0;
    left: -550px;
    width: 550px;
}

.container .formImg.signup {
    position: absolute;
    top: 0;
    right: -350px;
    width: 350px;
}

.form.signup input {
    width: 230px;
    margin-left: 15px;
}

.form.signup .email {
    width: 100%;
    text-align: center;
}

.form.signup input[type="email"] {
    width: 86%;
}

/* SignUpMode */

.container.signup-mode {
    box-shadow: 1px 1px 15px var(--primary-color), 2px 2px 25px var(--primary-dark);
}

.container.signup-mode .formImg.signin{
    left: -550px;
    transition-delay: 0s;
}

.container.signup-mode .form.signin{
    right: -350px;
    transition-delay: 0s;
}

.container.signup-mode .formImg.signup{
    right: 0;
    transition-delay: .7s;
}

.container.signup-mode .form.signup{
    left: 0;
    transition-delay: .7s;
}

/* Errors */
.errorText {
    color: var(--error-color);
    margin-top: 5px;
    font-size: 14px;
}

.errorContainer{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.errorContainer div, .hEmailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorContainer div span {
    align-self: flex-start;
    margin-left: 7px;
}

.hEmailContainer div {
    align-self: flex-start;
    margin-left: 50px;
}

/* Utilities */
input {
    width: 250px;
    padding: 5px 10px;
    background: none;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-size: 1.1rem;
    color: #fff;
    transition: .5s;
}

input::placeholder {
    color: #c1c1c1;
}

input:focus {
    transform: scaleX(1.05);
}

.btn {
    width: 200px;
    padding: 5px;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
    /* transition: .5s; */
}

.btn:hover {
    box-shadow: 0 0 10px var(--primary-color);
}

.btn:active {
    transform: translateY(2px);
}

.is-invalid {
    border: 1px solid #E21717;
}
