@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* Colors - Given in Description */
:root {
  /* --primary-color: #e6425e; */
  /* --primary-dark: #b4161b; */
  /* --bg-gradient: #D82E2F; */
  /* --bg-light: rgba(230, 66, 94, 0.1); */

  --primary-color: #4dd637;
  --primary-dark: #006400;
  --bg-gradient: #1b4d3e;
  --bg-light: rgba(77, 214, 55, 0.1);
  --whatsapp-color: #25d366;
  --whatsapp-dark-color: #075e54;
  --facebook-color: #3b5998;
  --stackoverflow: #f48024;
  --google-color: #fd1d1d;
  --github-color: #555;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -25deg,
    var(--bg-gradient) 0%,
    #001510 50%,
    #001510 50%,
    var(--bg-gradient) 100%
  );
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  position: relative;
  width: 900px;
  height: 550px;
  border: 3px solid var(--primary-dark);
  border-top: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
  border-radius: 50px;
  overflow: hidden;
  background: var(--bg-light);
}

/* Styling Form */
.container .form {
  width: 71.111%;
  height: 100%;
  padding: 20px;
  transition: 1.2s;
}

.container .form.signin {
  position: absolute;
  top: 0;
  transition-delay: 0.5s;
}

.container .form.signup {
  position: absolute;
  top: -115%;
  right: 0;
  transition-delay: 0s;
}

.form h2 {
  text-align: center;
  font-size: 2rem;
}

.form div {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.form div input[type="email"] {
  margin-top: 10px;
}

.form div input {
  border: none;
  outline: none;
  padding: 7px 10px;
  background: none;
  color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.5s;
}

.form div input::placeholder {
  font-weight: normal;
  color: var(--primary-color);
}

.form button {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.form p {
  display: block;
  text-align: center;
}

.form p.forgot {
  cursor: pointer;
  font-weight: bold;
  margin: 30px 0;
}

.form p.forgot:hover {
  color: var(--primary-color);
}

.form p.or {
  font-weight: bold;
  font-style: italic;
  margin-top: 40px;
}

.form .social {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.form .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.form .social a.facebook {
  border: 3px solid var(--facebook-color);
}

.form .social a.facebook:hover {
  background: var(--facebook-color);
}

.form .social a.google-plus {
  border: 3px solid var(--google-color);
}

.form .social a.google-plus:hover {
  background: var(--google-color);
}

.form .social a.github {
  border: 3px solid var(--github-color);
}

.form .social a.github:hover {
  background: var(--github-color);
}

.form .social a.stack-overflow {
  border: 3px solid var(--stackoverflow);
}

.form .social a.stack-overflow:hover {
  background: var(--stackoverflow);
}

.form .social .fa {
  font-size: 1.3rem;
  transition: 0.3s;
}

/* Form Text */

.formText {
  position: absolute;
  top: 0;
  left: 71.111%;
  height: 100%;
  width: 28.89%;
  padding: 20px;
  color: var(--primary-color);
  background: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1.2s;
}

.formText.signin {
  top: 0;
  transition-delay: 0.5s;
}

.formText.signup {
  left: 0;
  top: 115%;
  transition-delay: 0s;
}

.formText h2,
.formText p {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  line-height: 1.5;
  color: #fff;
  border-radius: 25px;
}

.formText img {
  position: absolute;
  bottom: 130px;
  left: 30px;
  max-width: 200px;
}

/* Sign Up Mode */
.container.signup-mode .form.signup,
.container.signup-mode .formText.signup {
  top: 0;
}

.container.signup-mode .form.signup {
  transition-delay: 0.5s;
}

.container.signup-mode .form.signin {
  transition-delay: 0s;
  top: -115%;
}

.container.signup-mode .formText.signup {
  transition-delay: 0.5s;
}

.container.signup-mode .formText.signin {
  transition-delay: 0s;
  top: 115%;
}

/* Utilities */
.submit-btn {
  width: 250px;
  font-size: 1.1rem;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  background: transparent;
  padding: 5px 0;
  border: none;
  border-right: 3px solid var(--primary-dark);
  border-bottom: 3px solid var(--primary-dark);
  border-left: 3px solid var(--primary-color);
  border-top: 3px solid var(--primary-color);
  color: #fff;
}

.submit-btn:hover {
  box-shadow: 2px 2px 10px var(--primary-color);
}

.submit-btn:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 5px var(--primary-color);
}

.mode-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 5px 0;
  border: 2px solid var(--primary-color);
  color: #fff;
  font-weight: 600;
  width: 100px;
  height: 30px;
  border-radius: 30px;
}

.mode-btn:hover {
  box-shadow: 2px 2px 10px var(--primary-color);
}
.mode-btn:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 5px var(--primary-color);
}

/* Responsive */
@media (max-width: 920px) {
  .container {
    width: 540px;
    height: 550px;
    border-radius: 40px;
  }

  .container .form {
    width: 100%;
    height: 80%;
    padding: 20px;
    overflow: hidden;
  }

  .formText {
    width: 100%;
    height: 20%;
    left: auto;
    flex-direction: row;
    justify-content: center;
  }

  .formText.signin {
    top: 80% !important;
  }

  .formText.signup {
    top: 110% !important;
  }

  .formText img {
    display: none;
  }

  .container.signup-mode .formText.signup {
    top: 80% !important;
  }

  .container.signup-mode .formText.signin {
    top: 110% !important;
  }

  .form h2 {
    font-size: 1.7rem;
  }

  .form div {
    margin: 20px;
  }

  .form button {
    margin-top: 35px;
  }

  .form p.forgot {
    margin: 25px 0;
  }

  .form p.or {
    margin-top: 30px;
  }

  .form .social {
    margin-top: 15px;
  }

  .form .social a.facebook {
    border: 2px solid var(--facebook-color);
  }

  .form .social a.google-plus {
    border: 2px solid var(--google-color);
  }

  .form .social a.github {
    border: 2px solid var(--github-color);
  }

  .form .social a.stack-overflow {
    border: 2px solid var(--stackoverflow);
  }
}

@media (max-width: 560px) {
  .container {
    width: 300px;
    height: 550px;
  }

  .formText {
    justify-content: space-around;
  }
  .formText p {
    display: none;
  }

  .form button {
    margin-top: 35px;
  }

  .form div {
    margin: 15px 0;
  }

  .form .social a {
    height: 40px;
    width: 40px;
  }

  .form .social .fa {
    font-size: 1rem;
  }
}
